name: Trivy scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  trivy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t mini-project .

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@0.29.0  # Version mise à jour
        with:
          image-ref: mini-project
          severity: HIGH,CRITICAL
          exit-code: 1
          format: table
          scanners: vuln,secret,misconfig  # Options recommandées